/* стили для корня */
#root{
    display: flex;
}
/* таблица , заголовка таблицы строки и ячейки*/
.table{
    width: 50%;
    border: 2px solid red;
}
.table-header{
    display: flex;
    justify-content: space-evenly;
}
.table-row{
    display: none;
    justify-content: space-around;
}
.table-data{
    max-width: 20%;
    min-width: 20%;
    cursor: pointer;
}

/* спаны */
.span-header{
    font-size: 20px!important;
    font-weight: 900;
    margin-left: 15px!important;
}
.span-td{
    display: flex;
    justify-content: space-evenly
}

/* правый див для изменения строк */
.rightDiv{
    width: 50%;
}

/* стили для формы и изменяемых элементов */
.form-group{
    padding: 0 5px 10px 25px;
}
.edit-input{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.edit-textarea{
    display: flex;
    flex-direction: column;
    height: 100px;
}

/* стили для pagination */
.num {
    display: none;
}
.paginator {
    line-height: 150%;
    text-align: center;
    margin-top: 15px;
}
.paginator > span {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    padding: 2px;
    border: 2px solid;
}
.show{
    color: red;
}
.hidden{
    color:grey;
    opacity:0.6
}



