#root{
    display: flex;
}
.table{
    width: 50%;
    border: 2px solid red;
}
.table-header{
    display: flex;
    justify-content: space-evenly;
}

.table-row{
    display: flex;
    justify-content: space-around;
}

.table-data{
    max-width: 20%;
    min-width: 20%;
    cursor: pointer;
    text-align: center;
}

.rightDiv{
    width: 50%;
}

.form-group{
    padding: 0 5px 10px 25px;
}

.t-body{

}
.edit-input{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.edit-textarea{
    display: flex;
    flex-direction: column;
    height: 100px;
}